@import "./_variables";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

body {
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background: center/cover no-repeat;
  background: $dark;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.overlay {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.85) 15%,
    rgba(0, 0, 0, 0.2) 40%,
    #000 90%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
  @media screen and (max-width: 900px) {
    width: 90%;
  }
}

.loading {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;

  img {
    max-width: 150px;
    max-height: 100%;
  }

  .search {
    width: 30%;
    position: relative;
    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f002";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    @media screen and (max-width: 900px) {
      width: 50%;
    }
    input {
      width: 100%;
      font-size: 1rem;
      border: none;
      background: none;
      border-bottom: 1px solid white;
      color: white;
      padding: 0.2rem;
      padding-left: 1.5rem;
      &:focus {
        outline: none;
      }
    }
    .suggestions {
      width: 100%;
      position: absolute;
      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin-top: 0.3rem;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        li {
          padding: 0.8rem;
          cursor: pointer;
          transition: 500ms ease background-color;
          &:hover {
            background-color: $green;
          }
        }
      }
    }
  }
}

.movie-card {
  height: 100%;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 30% 70%;
  color: white;
  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }
  img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;

    @media screen and (max-width: 900px) {
      margin: 20px auto;
    }
  }
  .content {
    padding: 1rem;
    background: $dark;
    margin-left: 10px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 900px) {
      margin: 20px 0;
    }
    justify-content: center;
    h2 {
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 600;
      color: white;
    }

    p {
      margin-top: 1rem;
    }

    p.tagline {
      color: $green;
      letter-spacing: 1.3px;
    }

    p.description {
      line-height: 1.5;
      letter-spacing: 1.05px;
    }

    p.genres {
      color: $green;
      letter-spacing: 1.3px;
    }

    .varia {
      display: grid;
      grid-template-columns: 1fr 1fr;
      p {
        span {
          display: block;
          margin-top: 0.5rem;
          &:last-child {
            color: $green;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
